%h1 Carriers
%table
  %tr
    %th Carrier ID
    %th Carrier Name
  %tr
    %td= @carrier.id
    %td= @carrier.name
    %td= link_to "Edit", edit_carrier_path(@carrier.id)
    %td= link_to "Delete", '#'
= link_to "View All Carriers", carriers_path 
= link_to "Add Another Carrier", new_carrier_path 