%h3 Holidays
%table 
  %tr
    %th Name
    %th Date
  - @holidays.each do |h|
    %tr
      %td= h.name
      %td= h.date
      %td= link_to "View", holiday_path(h.id)
      %td= link_to "Edit", edit_holiday_path(h.id)
      %td= link_to "Delete", holiday_path(h.id), method: "delete", data: { confirm: "Are you sure?" }
= link_to "Add a New Holiday", new_holiday_path