%h3 Holidays
%table 
  %tr
    %th Name
    %th Date
  - @holidays.each do |h|
    %tr
      %td= h.name
      %td= h.date
      %td= link_to "View", holiday_path(h.id)
      %td= link_to "Edit", edit_holiday_path(h.id)
      %td= link_to "Delete", '#'
