%h1 Approved Carriers
%p Edit the approved carriers for this location
%table
  %tr
    %th Destination ID
    %th Destination Name
    %th Destination Address
    %th Destination City
    %th Destination State
    %th Destination Zip
  %tr
    %td= @destination.id
    %td= @destination.name
    %td= @destination.address
    %td= @destination.city
    %td= @destination.state
    %td= @destination.zip

%br
%table
  %tr
    %th Carrier Id
    %th Carrier Name
  - @carrier_destinations.each do |cd|
    - if Carrier.exists?(id: cd.carrier_id)
      %tr
        %td= cd.carrier_id
        %td= Carrier.find(cd.carrier_id).name
        %td= link_to "Delete", destination_carrier_destination_path(cd.destination_id, cd.id), method: "delete", data: { confirm: "Are you sure?" }
  %tr
    %td{colspan:2}= link_to "Add Approved Carrier", new_destination_carrier_destination_path