%h1 Add a New Carrier Destination
%table
  %tr
    %td Location ID
    %td Name
    %td Address
    %td City
    %td State
    %td Zip
    %td Carrier
    %td Submit
  %tr
    %td= @destination.id
    %td= @destination.name
    %td= @destination.address
    %td= @destination.city
    %td= @destination.state
    %td= @destination.zip
    = form_for @carrier_destinations do |c|
      - carrier_options = []
      - @carriers.each do |c|
        - carrier_options.push("<option value=#{c.id} class='carrier'>#{c.name}</option>".html_safe)
      %td= select_tag :carrier, options_for_select(carrier_options), {class: "carriers"}
      %td= c.hidden_field :destination_id
      %td= c.submit value="Add Approved Carrier"

