%h3 Holiday Destination
%table
  %tr
    %th Destination Name
    %th Address
    %th City
    %th State
    %th Zip
    %th Holiday
  %tr
    %td= Destination.find(@destination_holiday.destination_id).name
    %td= Destination.find(@destination_holiday.destination_id).address
    %td= Destination.find(@destination_holiday.destination_id).city
    %td= Destination.find(@destination_holiday.destination_id).state
    %td= Destination.find(@destination_holiday.destination_id).zip
    %td= Holiday.find(@destination_holiday.holiday_id).name
    %td= link_to "Edit", '#'
    %td= link_to "Delete", destination_holiday_path(params[:id]), method: "delete", data: { confirm: "Are you sure?" }