%h3 Origins
%table
	%tr
		%th Location ID
		%th Name
		%th Address
		%th City
		%th State
		%th Zip
	-@origins.each do |o|
		%tr
			%td= o.id
			%td= o.name
			%td= o.address
			%td= o.city
			%td= o.state
			%td= o.zip

= link_to "Add a New Origin", new_origin_path