%h3 Origins
%table
	%tr
		%th Location ID
		%th Name
		%th Address
		%th City
		%th State
		%th Zip
	-@origins.each do |o|
		%tr
			%td= o.id
			%td= o.name
			%td= o.address
			%td= o.city
			%td= o.state
			%td= o.zip
			%td= link_to "View", origin_path(o.id)
			%td= link_to "Edit", edit_origin_path(o.id)
			%td= link_to "Delete", origin_path(o.id), method:"delete", data: { confirm: "Are you sure?"}

= link_to "Add a New Origin", new_origin_path