-@recommended = []
%table
  %tr
    %th Origin ID
    %th Origin Zip
    %th Destination ID
    %th Destination Zip
    %th Pickup Date
  %tr
    %td= @origin
    %td
      %input.origin_zip
    %td= @destination
    %td
      %input.destination_zip
    %td
      %input.pickup_date

%table
  %tr
    %th Carrier ID
    %th Carrier Name
    %th Transit Time
    %th Earliest Delivery Day (EDD)
    %th Sunday
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
    %th Saturday
    %th Can deliver on EDD?
  -@carriers.each do |c|
    %tr
      %td= c.carrier.id
      %td= c.carrier.name
      -@transit_time = TransitTime.where(["origin_id=? and destination_id=? and carrier_id=?",@origin, @destination, c.carrier.id]).first.number_of_days
      %td= @transit_time
      -@earliest = (DateTime.parse("14/4/2014")+@transit_time)
      -@dotw = @earliest.strftime('%A') 
      %td= "#{@dotw}, #{@earliest.to_date}"
      -@day = Day.where(["destination_id=? and carrier_id=?",@destination,c.carrier.id]).first
      %td= @day.sn
      %td= @day.m
      %td= @day.t
      %td= @day.w
      %td= @day.r
      %td= @day.f
      %td= @day.sa
      %td
        -if @dotw == "Sunday"
          -if @day.sn == true
            Yes
            -@recommended.push(c.carrier.name)
          -else
            No
        -elsif @dotw == "Monday"
          -if @day.m == true
            Yes
            -@recommended.push(c.carrier.name)
          -else
            No
        -elsif @dotw == "Tuesday"
          -if @day.t == true
            Yes
            -@recommended.push(c.carrier.name)
          -else
            No
        -elsif @dotw == "Wednesday"
          -if @day.w == true
            Yes
            -@recommended.push(c.carrier.name)
          -else
            No
        -elsif @dotw == "Thursday"
          -if @day.r == true
            Yes
            -@recommended.push(c.carrier.name)
          -else
            No
        -elsif @dotw == "Friday"
          -if @day.f == true
            Yes
            -@recommended.push(c.carrier.name)
          -else
            No
        -elsif @dotw == "Saturday"
          -if @day.sa == true
            Yes
            -@recommended.push(c.carrier.name)
          -else
            No
        -else
          You fucked up!
Your recommended carrier(s) are:
- @recommended.each do |r|
  %li= r
        