%h3 Welcome to the Earliest Delivery Day Shipping Calculator.
= link_to "Add an Origin", new_origin_path
%br
= link_to "Add a Destination", new_destination_path
%br
= link_to "View All Origins", origins_path
%br
= link_to "View All Destinations", destinations_path
%br
= link_to "View All Carriers", carriers_path
%br
= link_to "View All Transit Times", transit_times_path
%br
= link_to "View All Holidays", holidays_path
%br
= link_to "Calculate the Earliest Expected Delivery Day", pages_calculate_path