%table 
	%tr
		%th{colspan:6} Origin
		%th{colspan:6} Destination
	%tr
		%th Origin ID
		%th Name
		%th Address
		%th City
		%th State
		%th Zip
		%th Destination ID
		%th Name
		%th Address
		%th City
		%th State
		%th Zip
	%tr
		%td= @origin.id
		%td= @origin.name
		%td= @origin.address
		%td= @origin.city
		%td= @origin.state
		%td= @origin.zip
		%td= @destination.id
		%td= @destination.name
		%td= @destination.address
		%td= @destination.city
		%td= @destination.state
		%td= @destination.zip
%br
%table
	%tr
		%th{rowspan: 2} Carrier
		%th{rowspan: 2} Pickup Date
		%th{rowspan: 2} Transit Time
		%th{rowspan: 2} Expected Delivery Day (EDD)
		%th{colspan: 7} Can the Carrier Deliver to this Location on This Day of the Week?
	%tr
		%th Sunday
		%th Monday
		%th Tuesday
		%th Wednesday
		%th Thursday
		%th Friday
		%th Saturday
	- @recommended = []
	- if @carriers.length == 0
		%td= link_to "Add an Approved Carrier for this Destination", new_destination_carrier_destination_path(@destination.id)
	- @carriers.each do |c|
		%tr
			%td= Carrier.find(c.carrier_id).name
			%td= @pickup_date
			- if TransitTime.where(origin_id: @origin.id, destination_id: @destination.id, carrier_id: c.carrier_id).last == nil
				%td= link_to "Update this carrier's transit time", new_origin_destination_carrier_transit_time_path(@origin.id, @destination.id, c.id)
				%td= "N/A"
			- else
				- @transit_time = TransitTime.where(origin_id: @origin.id, destination_id: @destination.id, carrier_id: c.carrier_id).last.number_of_days.to_i
				%td= "#{@transit_time} day(s)"
				- @earliest = (@pickup_date.to_date + @transit_time.days)
				- @edd_plus_1 = (@earliest + 1.days)
				- @edd_plus_2 = (@earliest + 2.days)
				- @edd_plus_3 = (@earliest + 3.days)
				- @edd_plus_4 = (@earliest + 4.days)
				- @edd_plus_5 = (@earliest + 5.days)
				- @edd_plus_6 = (@earliest + 6.days)
				- @edd_plus_7 = (@earliest + 7.days)
				- @edd_plus_8 = (@earliest + 8.days)
				- @edd_plus_9 = (@earliest + 9.days)
				- @edd_plus_10 = (@earliest + 10.days)
				- @dotw = @earliest.strftime('%A')
				- @dotw_plus_1 = @edd_plus_1.strftime('%A')
				- @dotw_plus_2 = @edd_plus_2.strftime('%A')
				- @dotw_plus_3 = @edd_plus_3.strftime('%A')
				- @dotw_plus_4 = @edd_plus_4.strftime('%A')
				- @dotw_plus_5 = @edd_plus_5.strftime('%A')
				- @dotw_plus_6 = @edd_plus_6.strftime('%A')
				- @dotw_plus_7 = @edd_plus_7.strftime('%A')
				- @dotw_plus_8 = @edd_plus_8.strftime('%A')
				- @dotw_plus_9 = @edd_plus_9.strftime('%A')
				- @dotw_plus_10 = @edd_plus_10.strftime('%A')
				-	@day = Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).last
				%td= @earliest.strftime('%A %B %d, %Y')
				- if @day == nil
					%td{colspan:7}= link_to "Update this carrier's approved delivery days", '#'
				- else
					%td{class:"#{@day.sn}"}= @day.sn
					%td{class:"#{@day.m}"}= @day.m
					%td{class:"#{@day.t}"}= @day.t
					%td{class:"#{@day.w}"}= @day.w
					%td{class:"#{@day.r}"}= @day.r
					%td{class:"#{@day.f}"}= @day.f
					%td{class:"#{@day.sa}"}= @day.sa
					- @holidays_array = []
					- @holidays.each do |h|
						- @holidays_array.push(Holiday.find(h.holiday_id).date.to_s)

						/ EDD

					- if @dotw == "Sunday" && @day.sn == true && !@holidays_array.include?(@earliest.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @earliest, expected: @earliest})
					- elsif @dotw == "Monday" && @day.m == true && !@holidays_array.include?(@earliest.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @earliest, expected: @earliest})
					- elsif @dotw == "Tuesday" && @day.t == true && !@holidays_array.include?(@earliest.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @earliest, expected: @earliest})
					- elsif @dotw == "Wednesday" && @day.w == true && !@holidays_array.include?(@earliest.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @earliest, expected: @earliest})
					- elsif @dotw == "Thursday" && @day.r == true && !@holidays_array.include?(@earliest.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @earliest, expected: @earliest})
					- elsif @dotw == "Friday" && @day.f == true && !@holidays_array.include?(@earliest.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @earliest, expected: @earliest})
					- elsif @dotw == "Saturday" && @day.sa == true && !@holidays_array.include?(@earliest.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @earliest, expected: @earliest})

						/ EDD + 1

					- elsif @dotw_plus_1 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_1.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_1, expected: @earliest})
					- elsif @dotw_plus_1 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_1.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_1, expected: @earliest})
					- elsif @dotw_plus_1 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_1.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_1, expected: @earliest})
					- elsif @dotw_plus_1 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_1.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_1, expected: @earliest})
					- elsif @dotw_plus_1 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_1.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_1, expected: @earliest})
					- elsif @dotw_plus_1 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_1.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_1, expected: @earliest})
					- elsif @dotw_plus_1 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_1.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_1, expected: @earliest})

						/ EDD + 2

					- elsif @dotw_plus_2 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_2.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_2, expected: @earliest})
					- elsif @dotw_plus_2 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_2.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_2, expected: @earliest})
					- elsif @dotw_plus_2 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_2.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_2, expected: @earliest})
					- elsif @dotw_plus_2 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_2.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_2, expected: @earliest})
					- elsif @dotw_plus_2 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_2.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_2, expected: @earliest})
					- elsif @dotw_plus_2 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_2.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_2, expected: @earliest})
					- elsif @dotw_plus_2 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_2.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_2, expected: @earliest})

						/ EDD + 3

					- elsif @dotw_plus_3 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_3.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_3, expected: @earliest})
					- elsif @dotw_plus_3 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_3.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_3, expected: @earliest})
					- elsif @dotw_plus_3 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_3.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_3, expected: @earliest})
					- elsif @dotw_plus_3 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_3.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_3, expected: @earliest})
					- elsif @dotw_plus_3 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_3.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_3, expected: @earliest})
					- elsif @dotw_plus_3 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_3.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_3, expected: @earliest})
					- elsif @dotw_plus_3 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_3.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_3, expected: @earliest})

						/ EDD + 4

					- elsif @dotw_plus_4 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_4.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_4, expected: @earliest})
					- elsif @dotw_plus_4 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_4.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_4, expected: @earliest})
					- elsif @dotw_plus_4 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_4.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_4, expected: @earliest})
					- elsif @dotw_plus_4 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_4.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_4, expected: @earliest})
					- elsif @dotw_plus_4 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_4.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_4, expected: @earliest})
					- elsif @dotw_plus_4 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_4.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_4, expected: @earliest})
					- elsif @dotw_plus_4 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_4.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_4, expected: @earliest})

						/ EDD + 5

					- elsif @dotw_plus_5 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_5.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_5, expected: @earliest})
					- elsif @dotw_plus_5 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_5.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_5, expected: @earliest})
					- elsif @dotw_plus_5 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_5.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_5, expected: @earliest})
					- elsif @dotw_plus_5 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_5.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_5, expected: @earliest})
					- elsif @dotw_plus_5 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_5.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_5, expected: @earliest})
					- elsif @dotw_plus_5 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_5.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_5, expected: @earliest})
					- elsif @dotw_plus_5 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_5.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_5, expected: @earliest})

						/ EDD + 6

					- elsif @dotw_plus_6 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_6.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_6, expected: @earliest})
					- elsif @dotw_plus_6 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_6.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_6, expected: @earliest})
					- elsif @dotw_plus_6 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_6.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_6, expected: @earliest})
					- elsif @dotw_plus_6 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_6.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_6, expected: @earliest})
					- elsif @dotw_plus_6 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_6.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_6, expected: @earliest})
					- elsif @dotw_plus_6 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_6.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_6, expected: @earliest})
					- elsif @dotw_plus_6 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_6.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_6, expected: @earliest})

						/ EDD + 7

					- elsif @dotw_plus_7 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_7.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_7, expected: @earliest})
					- elsif @dotw_plus_7 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_7.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_7, expected: @earliest})
					- elsif @dotw_plus_7 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_7.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_7, expected: @earliest})
					- elsif @dotw_plus_7 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_7.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_7, expected: @earliest})
					- elsif @dotw_plus_7 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_7.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_7, expected: @earliest})
					- elsif @dotw_plus_7 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_7.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_7, expected: @earliest})
					- elsif @dotw_plus_7 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_7.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_7, expected: @earliest})

						/ EDD + 8

					- elsif @dotw_plus_8 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_8.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_8, expected: @earliest})
					- elsif @dotw_plus_8 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_8.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_8, expected: @earliest})
					- elsif @dotw_plus_8 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_8.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_8, expected: @earliest})
					- elsif @dotw_plus_8 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_8.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_8, expected: @earliest})
					- elsif @dotw_plus_8 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_8.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_8, expected: @earliest})
					- elsif @dotw_plus_8 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_8.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_8, expected: @earliest})
					- elsif @dotw_plus_8 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_8.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_8, expected: @earliest})

						/ EDD + 9

					- elsif @dotw_plus_9 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_9.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_9, expected: @earliest})
					- elsif @dotw_plus_9 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_9.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_9, expected: @earliest})
					- elsif @dotw_plus_9 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_9.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_9, expected: @earliest})
					- elsif @dotw_plus_9 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_9.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_9, expected: @earliest})
					- elsif @dotw_plus_9 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_9.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_9, expected: @earliest})
					- elsif @dotw_plus_9 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_9.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_9, expected: @earliest})
					- elsif @dotw_plus_9 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_9.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_9, expected: @earliest})

						/ EDD + 10

					- elsif @dotw_plus_10 == "Sunday" && @day.sn == true && !@holidays_array.include?(@edd_plus_10.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_10, expected: @earliest})
					- elsif @dotw_plus_10 == "Monday" && @day.m == true && !@holidays_array.include?(@edd_plus_10.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_10, expected: @earliest})
					- elsif @dotw_plus_10 == "Tuesday" && @day.t == true && !@holidays_array.include?(@edd_plus_10.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_10, expected: @earliest})
					- elsif @dotw_plus_10 == "Wednesday" && @day.w == true && !@holidays_array.include?(@edd_plus_10.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_10, expected: @earliest})
					- elsif @dotw_plus_10 == "Thursday" && @day.r == true && !@holidays_array.include?(@edd_plus_10.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_10, expected: @earliest})
					- elsif @dotw_plus_10 == "Friday" && @day.f == true && !@holidays_array.include?(@edd_plus_10.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_10, expected: @earliest})
					- elsif @dotw_plus_10 == "Saturday" && @day.sa == true && !@holidays_array.include?(@edd_plus_10.to_s) 
						- @recommended.push({carrier: Carrier.find(c.carrier_id).name, actual: @edd_plus_10, expected: @earliest})

						/ Else

					- else 
						%td It's a holiday

%br
%table
	%tr
		%th{colspan:2} Holidays
	%tr
		%th Name
		%th Date
	- if @holidays.length < 1
		%tr
			%td{colspan:2}= link_to "Add a Holiday for this Location", new_destination_destination_holiday_path(@destination.id)
	- else 
		- @holidays.each do |h|
			%tr
				%td= Holiday.find(h.holiday_id).name
				%td= Holiday.find(h.holiday_id).date
%h4 Recomended Carriers							
%table
	%tr
		%th Carrier
		%th Expected Delivery Date
		%th Actual Delivery Date
		%th Can Deliver on Expected Delivery Day?
	- @recommended.each do |r|
		%tr
			%td= r[:carrier]
			%td= r[:expected]
			%td= r[:actual]
			- if r[:expected] == r[:actual]
				%td Yes
			- else
				%td No