%table 
	%tr
		%th{colspan:6} Origin
		%th{colspan:6} Destination
	%tr
		%th Origin ID
		%th Name
		%th Address
		%th City
		%th State
		%th Zip
		%th Destination ID
		%th Name
		%th Address
		%th City
		%th State
		%th Zip
	%tr
		%td= @origin.id
		%td= @origin.name
		%td= @origin.address
		%td= @origin.city
		%td= @origin.state
		%td= @origin.zip
		%td= @destination.id
		%td= @destination.name
		%td= @destination.address
		%td= @destination.city
		%td= @destination.state
		%td= @destination.zip
%br
%table
	%tr
		%th Carrier
		%th Pickup Date
		%th Transit Time
		%th Expected Delivery Day (EDD)
		%th Sunday
		%th Monday
		%th Tuesday
		%th Wednesday
		%th Thursday
		%th Friday
		%th Saturday
		%th Can Deliver on EDD?
	- @recommended = []
	- if @carriers.length == 0
		%td= link_to "Add an Approved Carrier for this Destination", new_destination_carrier_destination_path(@destination.id)
	- @carriers.each do |c|
		%tr
			%td= Carrier.find(c.carrier_id).name
			%td= @pickup_date
			- if TransitTime.where(origin_id: @origin.id, destination_id: @destination.id, carrier_id: c.carrier_id).first == nil
				%td= link_to "Update this carrier's transit time", new_origin_destination_carrier_transit_time_path(@origin.id, @destination.id, c.id)
				%td= "N/A"
			- else
				- @transit_time = TransitTime.where(origin_id: @origin.id, destination_id: @destination.id, carrier_id: c.carrier_id).first.number_of_days.to_i
				%td= "#{@transit_time} day(s)"
				- @earliest = (@pickup_date.to_date + @transit_time.days)
				- @second_earliest = (@pickup_date.to_date + @transit_time.days + 1.days)
				- @dotw = @earliest.strftime('%A')
				%td= @earliest.strftime('%A %B %d, %Y')
				- if Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first == nil
					%td{colspan:7}= link_to "Update this carrier's approved delivery days", '#'
				- else
					%td= Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.sn
					%td= Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.m
					%td= Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.t
					%td= Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.w
					%td= Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.r
					%td= Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.f
					%td= Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.sa
					- if @dotw == "Sunday" && Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.sn == true
						%td Yes
						- @recommended.push(Carrier.find(c.carrier_id).name)
					- elsif @dotw == "Monday" && Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.m == true
						%td Yes
						- @recommended.push(Carrier.find(c.carrier_id).name)
					- elsif @dotw == "Tuesday" && Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.t == true
						%td Yes
						- @recommended.push(Carrier.find(c.carrier_id).name)
					- elsif @dotw == "Wednesday" && Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.w == true
						%td Yes
						- @recommended.push(Carrier.find(c.carrier_id).name)
					- elsif @dotw == "Thursday" && Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.r == true
						%td Yes
						- @recommended.push(Carrier.find(c.carrier_id).name)
					- elsif @dotw == "Friday" && Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.f == true
						%td Yes
						- @recommended.push(Carrier.find(c.carrier_id).name)
					- elsif @dotw == "Saturday" && Day.where(destination_id: @destination.id, carrier_id: c.carrier_id).first.sa == true
						%td Yes
						- @recommended.push(Carrier.find(c.carrier_id).name)
					- else 
						%td No
%br
%table
	%tr
		%th{colspan:2} Holidays
	%tr
		%th Name
		%th Date
	- if @holidays.length < 1
		%tr
			%td{colspan:2}= link_to "Add a Holiday for this Location", new_destination_destination_holiday_path(@destination.id)
	- else 
		- @holidays.each do |h|
			%tr
				%td= Holiday.find(h.id).name
				%td= Holiday.find(h.id).date
%h4 Recomended Carriers							
%ul
	- @recommended.each do |r|
		%li= r
	