%p Day Name
%table
  %tr
    %th Destination ID
    %th Carrier ID
    %th Sunday
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
    %th Saturday
  %tr
    %td= @day.destination_id
    %td= @day.carrier_id
    %td= @day.sn
    %td= @day.m
    %td= @day.t
    %td= @day.w
    %td= @day.r
    %td= @day.f
    %td= @day.sa