%h3 Destinations
%table
  %tr
    %th Location ID
    %th Name
    %th Address
    %th City
    %th State
    %th Zip
    %th Approved Carriers
  - @destinations.each do |d|
    %tr.location
      %td= d.id
      %td= d.name
      %td= d.address
      %td= d.city
      %td= d.state
      %td= d.zip
      - carriers = []
      - CarrierDestination.where(destination_id:d.id).each do |cd|
        - if Carrier.exists?(id: cd.carrier_id)
          - carriers.push(Carrier.find(cd.carrier_id).name)
      - carriers.sort_by!{ |c| c.downcase }
      %td= carriers.join(" ")
      %td= link_to "View", destination_path(d.id)
      %td= link_to "Edit", edit_destination_path(d.id)
      %td= link_to "Delete", destination_path(d.id), method: "delete", data: { confirm: "Are you sure?" }
    %tr.weekdays
      %td Sunday
      %td Monday
      %td Tuesday
      %td Wednesday
      %td Thursday
      %td Friday
      %td Saturday

    / %tr{class:"allowed #{ac1}"}
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.sn
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.m
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.t
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.w
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.r
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.f
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.sa
    / %tr{class:"allowed #{ac2}"}
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.sn
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.m
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.t
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.w
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.r
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.f
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.sa
    / %tr{class:"allowed #{ac3}"}
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.sn
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.m
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.t
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.w
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.r
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.f
    /   - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
    /   - else
    /     %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.sa
= link_to "Add a New Destination", new_destination_path