%h3 Destinations
%table
  %tr
    %th Location ID
    %th Name
    %th Address
    %th City
    %th State
    %th Zip
    %th Approved Carrier 1
    %th Approved Carrier 2
    %th Approved Carrier 3
    %th 
  - @destinations.each do |d|
    %tr
      %td= d.id
      %td= d.name
      %td= d.address
      %td= d.city
      %td= d.state
      %td= d.zip
      - if CarrierDestination.where(destination_id: d.id).first == nil 
      - else
        %td= CarrierDestination.where(destination_id: d.id).first.carrier.name
      - if CarrierDestination.where(destination_id: d.id).second == nil 
      - else
        %td= CarrierDestination.where(destination_id: d.id).second.carrier.name
      - if CarrierDestination.where(destination_id: d.id).third == nil 
      - else
        %td= CarrierDestination.where(destination_id: d.id).third.carrier.name

