%h3 Destinations
%table
  %tr
    %th Location ID
    %th Name
    %th Address
    %th City
    %th State
    %th Zip
    %th Approved Carriers
    %th Approved Carrier 2
    %th Approved Carrier 3
    %th 
  - @destinations.each do |d|
    %tr.location
      %td= d.id
      %td= d.name
      %td= d.address
      %td= d.city
      %td= d.state
      %td= d.zip
      - if CarrierDestination.where(destination_id: d.id).first == nil 
        %td= button_to "Add Approved Carrier"
      - else
        - ac1 = CarrierDestination.where(destination_id: d.id).first.carrier.name
        %td= link_to ac1, '', class: "carrier #{ac1}", value: "#{ac1}"
      - if CarrierDestination.where(destination_id: d.id).second == nil 
        %td= button_to "Add Approved Carrier"
      - else
        - ac2 = CarrierDestination.where(destination_id: d.id).second.carrier.name
        %td= link_to ac2, '', class: "carrier #{ac2}", value: "#{ac2}"
      - if CarrierDestination.where(destination_id: d.id).third == nil 
        %td= button_to "Add Approved Carrier"
      - else
        - ac3 = CarrierDestination.where(destination_id: d.id).third.carrier.name
        %td= link_to ac3, '', class: "carrier #{ac3}", value: "#{ac3}"

        = content_tag(:td, class:"carriers") do
          - concat link_to ac1, '', class:"carrier #{ac1}", value: "#{ac1}" 
          - concat ", "
          - concat link_to ac2, '', class:"carrier #{ac2}", value: "#{ac2}"
          - concat " "
          - concat link_to ac3, '', class:"carrier #{ac3}", value: "#{ac3}"

    %tr.days
      %td Sunday
      %td Monday
      %td Tuesday
      %td Wednesday
      %td Thursday
      %td Friday
      %td Saturday
    %tr{class:"allowed #{ac1}"}
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.sn
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.m
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.t
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.w
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.r
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.f
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac1)).first.sa
    %tr{class:"allowed #{ac2}"}
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.sn
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.m
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.t
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.w
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.r
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.f
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac2)).first.sa
    %tr{class:"allowed #{ac3}"}
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.sn
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.m
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.t
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.w
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.r
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.f
      - if Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first == nil
      - else
        %td= Day.where(destination_id: d.id, carrier_id: Carrier.where(name:ac3)).first.sa
