%h3 Destination
%table
  %tr
    %th Location ID
    %th Name
    %th Address
    %th City
    %th State
    %th Zip
    %th Approved Carriers
  %tr
    %td= @destination.id
    %td= @destination.name
    %td= @destination.address
    %td= @destination.city
    %td= @destination.state
    %td= @destination.zip
    - if CarrierDestination.where(destination_id: @destination.id).first == nil 
    - else
      - ac1 = CarrierDestination.where(destination_id: @destination.id).first.carrier.name
    - if CarrierDestination.where(destination_id: @destination.id).second == nil 
    - else
      - ac2 = CarrierDestination.where(destination_id: @destination.id).second.carrier.name
    - if CarrierDestination.where(destination_id: @destination.id).third == nil 
    - else
      - ac3 = CarrierDestination.where(destination_id: @destination.id).third.carrier.name

    %td= "#{ac1} #{ac2} #{ac3}"
    %td= link_to "Edit", edit_destination_path
    %td= link_to "Delete", destination_path, method: "delete"
  %tr
    %th Carrier
    %th Sunday
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
    %th Saturday
  - @carrier_destinations.each do |cd|
    %tr
      %td= Carrier.find(cd.carrier_id).name
      - if Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).first
        %td= Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).first.sn
        %td= Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).first.m
        %td= Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).first.t
        %td= Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).first.w
        %td= Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).first.r
        %td= Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).first.f
        %td= Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).first.sa
      - else
        %td{colspan:7}= link_to "Add Approved Delivery Days to a Carrier", new_destination_day_path(@destination)
  
  %tr 
    %th Holiday Name
    %th Date
  - @holidays.each do |h|
    %tr
      %td= h.holiday.name
      %td= h.holiday.date
      
= link_to "Add Approved Carrier", new_destination_carrier_destination_path(@destination.id)
%br
= link_to "Add Approved Delivery Days to a Carrier", new_destination_day_path(@destination)
%br
= link_to "Add a Holiday to this Destination", new_destination_destination_holiday_path(@destination)
%br
= link_to "Edit This Location's Holidays", '#'
%br
= link_to "View All Destinations", destinations_path
