%h3 Destination
%table
  %tr
    %th Location ID
    %th Name
    %th Store #
    %th Address
    %th City
    %th State
    %th Zip
    %th Approved Carriers
  %tr
    %td= @destination.id
    %td= @destination.name
    %td 1234
    %td= @destination.address
    %td= @destination.city
    %td= @destination.state
    %td= @destination.zip
    - @carriers = []
    - @carrier_destinations.each do |cd|
      - @carriers.push(Carrier.find(cd.carrier_id).name)
    %td= @carriers.join " "
    %td= link_to "Edit", edit_destination_path(@destination.id)
    %td= link_to "Delete", destination_path, method: "delete", data: { confirm: "Are you sure?" }
  %tr
    %th Carrier
    %th Sunday
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday
    %th Saturday
  - @carrier_destinations.each do |cd|
    %tr
      %td= Carrier.find(cd.carrier_id).name
      - @day = Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).last
      - if @day
        %td{class:"#{@day.sn}"}= @day.sn
        %td{class:"#{@day.m}"}= @day.m
        %td{class:"#{@day.t}"}= @day.t
        %td{class:"#{@day.w}"}= @day.w
        %td{class:"#{@day.r}"}= @day.r
        %td{class:"#{@day.f}"}= @day.f
        %td{class:"#{@day.sa}"}= @day.sa
        %td= link_to "Edit", edit_destination_carrier_day_path(@destination.id, cd.carrier_id, Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).last.id)
        %td= link_to "Delete", destination_carrier_day_path(@destination.id, cd.carrier_id, Day.where(destination_id:@destination.id, carrier_id:cd.carrier_id).last.id), method: "delete", data: { confirm: "Are you sure?" }
      - else
        %td{colspan:7}= link_to "Add Approved Delivery Days to this Carrier", new_destination_carrier_day_path(@destination, cd.carrier_id)
  %tr
    %td= link_to "Add Approved Carrier", new_destination_carrier_destination_path(@destination.id) 
  %tr
    %td= link_to "Edit Approved Carriers", edit_destination_carrier_destination_path(@destination.id, 1)

%br
%table
  %tr 
    %th Holiday Name
    %th Date
  - if @holidays.length == 0
    %tr
      %td{colspan:2}= link_to "Add a Holiday to this Destination", new_destination_destination_holiday_path(@destination)
  - else
    - @holidays.each do |h|
      %tr
        %td= h.holiday.name
        %td= h.holiday.date
        %td= link_to "Delete", destination_holiday_path(h.id), method: "delete", data: { confirm: "Are you sure?" }
    %tr
      %td{colspan:2}= link_to "Add a Holiday to this Destination", new_destination_destination_holiday_path(@destination)
%br
= link_to "View All Destinations", destinations_path
